@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: rgba(252, 211, 77, 0.9);
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: rgb(252, 211, 77);
}

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors;
  }

  .btn-primary {
    @apply bg-yellow-400 text-white hover:bg-yellow-500;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-700 hover:bg-gray-300;
  }
}
